<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="dual_piper">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.016942 -2.3466E-05 0.010616"
        rpy="0 0 0" />
      <mass
        value="1.4069" />
      <inertia
        ixx="0.030896"
        ixy="5.4254E-07"
        ixz="3.5964E-06"
        iyy="0.005066"
        iyz="5.6449E-07"
        izz="0.027345" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dual_piper/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dual_piper/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="slider_link">
    <inertial>
      <origin
        xyz="0.0098416 -2.2659E-08 0.001062"
        rpy="0 0 0" />
      <mass
        value="0.042194" />
      <inertia
        ixx="1.9888E-05"
        ixy="-1.3707E-11"
        ixz="-2.942E-07"
        iyy="3.4419E-06"
        iyz="-3.2136E-12"
        izz="2.0532E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dual_piper/meshes/slider_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dual_piper/meshes/slider_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="slider_joint"
    type="fixed">
    <origin
      xyz="-0.086 0 0.609"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="slider_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="camera_link">
    <inertial>
      <origin
        xyz="-0.01149 -4.9713E-05 0.00019385"
        rpy="0 0 0" />
      <mass
        value="0.017847" />
      <inertia
        ixx="1.0512E-05"
        ixy="5.0482E-09"
        ixz="-2.4909E-08"
        iyy="1.6723E-06"
        iyz="-8.6091E-09"
        izz="9.9672E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dual_piper/meshes/camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dual_piper/meshes/camera_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_joint"
    type="fixed">
    <origin
      xyz="0.045412 0 -0.014554"
      rpy="0 0.87267 0" />
    <parent
      link="slider_link" />
    <child
      link="camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>